@metacharset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@font-face {
    font-family: Sriracha Regular;
    src: url(fontes/Sriracha-Regular.ttf) format(truetype);
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
}

header > h1 {
    font-family: 'Passion One', cursive;
}

h1 {
    font-family: 'Passion One', cursive;
    color: white;
    font-size: 160px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    font-variant: small-caps;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: normal;
    text-align: center;
    padding-bottom: 50px;
}

a {
    color: white;
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main{
    font-size: 2.5em;
    font-weight: normal;
    padding-top: 77px;
    padding-left: 30px;
}

main > h2 {
    font-family: 'Sriracha Regular';
    line-height: 2em;
    font-weight: normal;
    font-size: 1.4em;
}

footer {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}